* {
  font-family: "CircularStd", "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container{
  z-index: 2;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 5rem;

}

.sCard {
    padding: 2rem 3rem;    
    border-radius: 3px;
    height: 400px;
}
   .sIcon {     
      border-radius: 100%;
      background-color: var(--bg-blue);
      color: white;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
      
   }

  .titleCard{
  font-size: 1.2rem;
  }

  .cardText{
      font-family: sans-serif !important;
      color: #7f7f7f;
      text-wrap: pretty;
      line-height: 1.5rem;
      margin-bottom: 0.25rem;
    }

    button {
      color: #7f7f7f;
      padding: 0.65rem 2rem;
      background-color: transparent;
      border-radius: 2px;
      border: 2px solid rgba(127, 127, 127, 0.3);
      font-weight: 100;
      transition: 200ms ease-in-out;
      cursor: pointer;
     

      &:hover {
        background-color: rgba(127, 127, 127, 0.1);
      }
    }
  

@media (min-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
 .sCard {
      gap: 1rem;
      height: 330px;
      gap: 5rem;
    }
  }


@media (min-width: 1024px) {
  .container {
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  
  .sCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      padding: 2.5rem 3rem;
      background-color: white;
      border-radius: 3px;
      height: 450px;
    }
  }

